# Logs
logs
*.log
npm-debug.log*

# Node dependencies
node_modules
dist
dist-ssr
*.local

# Python
__pycache__/
*.py[cod]
*.class
venv/
.venv/
env/

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
